* {
  margin: 0;
  padding: 0;
}
#Layer_1{
  padding:50px;
}
#Layer_1 h1{
  font-family:"Alfa Slab One" ;
}
body {
  padding: 0;
  margin: 0;
  /* background-color: rgb(219, 136, 136); */
  background-image: linear-gradient( rgba(212, 105, 105, 0.876),rgba(40, 233, 207, 0.767),rgba(212, 105, 105, 0.876),rgba(233, 198, 40, 0.849));
}
.com{
  text-align: center;
}

#mapid {
  
  width: 200px;
  height:500px;
  min-height: 100%;
  min-width: 100%;
  display: block;
  position: relative;
}
.header h1 {
  text-align: center;
  margin-left: 50px;
}
/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.title h1 {

position: relative;
}

.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.navbar{
  margin-bottom: 50px;
}
.navbar-brand {
  color: white;
  
  
}
.nav-link {
  color: gray;
}
.title h1{
  color:blanchedalmond;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom:20px;
  text-align: center;


}

p{
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  padding: 30px;

}
img{
  width: 100px;
}
figcaption{
  font-weight: bold;
  

}


.carousel {
  position: relative;
  top:50px;
  right:50px;
  margin-left: 5%;
  
  width: 40%;
  
} 
#multiline{
  margin-left:50px;
  
} 
.well {
 
  fill:blanchedalmond;
}
.line{
  bottom: 50px;
  margin-left: auto;
  margin-right: auto 
}

